.h1-center{
    text-align: center;
}
.h1-left{
    text-align: left;
}
.h1-right{
    text-align: right;
}
.h2-underline{
    text-decoration: underline;
}
.h2-blue{
    color: blue;
}
.h2-green{
    color: green;
}
.h2-yellow{
    color: yellow;
}
.p-justify{
    text-align: justify;
}
.p-upperCase{
    text-transform: uppercase;
}
.h1-shadow{
    text-shadow: 2px 2px 3px red;
}