*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    cursor: pointer;
}

/*  geral  */
:root{
    --cor-fundo-secundaria: #8500EE;
    --cor-texto-secundaria: #fff;
    --cor-texto-titulo-produto: #5B067F;
    --cor-texto-primario: #000;
    --cor-fundo-produto: #fafafa;
    --borda-produto: 1px solid #000;
    --borda-lateral-produto: 15px;
}
body{
    font-family: "Inter", serif;
}

/*  header  */
header{
    background-color: var(--cor-fundo-secundaria);
}

.header-container{
    height: 84px;
    padding: 32px 0;
}

.header-container span{
    color: var(--cor-texto-secundaria);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.container{
    width: 1280px;
    margin: auto;
}

/* navegação */
nav{
    float: right;
    color: var(--cor-texto-secundaria);
    font-size: 16px;
    text-transform: capitalize;
}

nav a+a{
    padding-left: 32px;
}

/* conteudo principal */
main{
    padding: 54px 49px;
    height: 573px;
}

.produto{
    width: 360px;
    height: 465px;
    border-radius: var(--borda-lateral-produto);
    padding: 15px;
    border: var(--borda-produto);
    background: var(--cor-fundo-produto);
    float: left;
}

.produto + .produto{
    margin-left: 51px;
}

.produto img{
    margin-bottom: 15px;
}

.produto h1{
    color: var(--cor-texto-titulo-produto);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 9px;
    padding-left: 9px;
}

.produto p{
    color: var(--cor-texto-primario);
    font-family: Poppins, sans-serif;
    font-size: 13px;
    padding-left: 9px;
}

/* footer */
footer{
    height: 84px;
    padding: 33px 0;
    background-color: var(--cor-fundo-secundaria);
}

footer p{
    color: var(--cor-texto-secundaria);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}